body{
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.header--secondary {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.headre--sub-header {
    font-size: 21px;
    color: rgb(189, 183, 183);
}
/* call to action */
.link--cta  {
    font-size: 16px;
    color: aquamarine;
    
}