body{
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

/* call to action */
.link--cta  {
    font-size: 16px;
    color: aquamarine;
    
}